albumentations==2.0.8
altair==5.5.0
anywidget==0.9.18
astropy==7.1.0
autograd==1.8.0
backports.tarfile==1.2.0
betterproto==2.0.0b6
bigframes==2.15.0
bigquery-magics==0.10.2
bottleneck==1.4.2
build==1.3.0
cmake==3.31.6
community==1.0.0b1
cudf-polars-cu12==25.6.0
cufflinks==0.17.3
cuml-cu12==25.6.0
cvxopt==1.3.2
cvxpy==1.6.7
cyipopt==1.5.0
cython==3.0.12
dataproc-spark-connect==0.8.3
dbus-python==1.2.18
diffusers==0.34.0
dlib==19.24.6
dopamine-rl==4.1.2
duckdb==1.3.2
easydict==1.13
editdistance==0.8.1
einops==0.8.1
en-core-web-sm==3.8.0
fastai==2.8.3
firebase-admin==6.9.0
gdal==3.8.4
gdown==5.2.0
geemap==0.35.3
geopy==2.4.1
glob2==0.7
google==2.0.3
google-adk==1.11.0
google-cloud-datastore==2.21.0
google-cloud-language==2.17.2
google-cloud-logging==3.12.1
google-cloud-translate==3.21.1
google-colab==1.0.0
google-generativeai==0.8.5
googledrivedownloader==1.1.0
gradio==5.42.0
grpcio-status==1.71.2
gspread-dataframe==4.0.0
hdbscan==0.8.40
hf-transfer==0.1.9
highspy==1.11.0
holoviews==1.21.0
html5lib==1.1
httpimport==1.4.1
hyperopt==0.2.7
ibis-framework==9.5.0
imbalanced-learn==0.14.0
imutils==0.5.4
ipython-sql==0.5.0
jaraco-functools==4.2.1
jaraco.collections==5.1.0
jax-cuda12-plugin==0.5.3
jieba==0.42.1
jupyter-console==6.1.0
jupyter-kernel-gateway==2.5.2
jupytext==1.17.2
kaggle==1.7.4.5
keras-nlp==0.21.1
keyrings.google-artifactregistry-auth==1.1.2
langchain==0.3.27
launchpadlib==1.10.16
libpysal==4.13.0
librosa==0.11.0
lightgbm==4.6.0
mako==1.1.3
matplotlib-venn==1.1.2
missingno==0.5.2
mkl==2025.2.0
mlxtend==0.23.4
moviepy==1.0.3
music21==9.3.0
natsort==8.4.0
nibabel==5.3.2
nx-cugraph-cu12==25.6.0
openai==1.100.0
opencv-contrib-python==4.12.0.88
openpyxl==3.1.5
pandas-datareader==0.10.0
pandas-stubs==2.2.2.240909
parso==0.8.4
peft==0.17.0
pip-chill==1.0.3
plotnine==0.14.5
progressbar2==4.5.0
prophet==1.1.7
psycopg2==2.9.10
pycocotools==2.0.10
pydot==3.0.4
pydotplus==2.0.2
pydrive2==1.21.3
pygit2==1.18.2
pygobject==3.42.0
pymc==5.25.1
pyomo==6.9.3
pyopengl==3.1.10
pysocks==1.7.1
pytest==8.4.1
python-apt==0.0.0
python-louvain==0.16
requirements-parser==0.9.0
rpy2==3.5.17
scikit-image==0.25.2
sentence-transformers==5.1.0
shap==0.48.0
sklearn-pandas==2.2.0
spanner-graph-notebook==1.1.7
sphinx==8.2.3
tables==3.10.2
tensorflow-datasets==4.9.9
tensorflow-decision-forests==1.12.0
tensorflow-hub==0.16.1
textblob==0.19.0
timm==1.0.19
tinycss2==1.4.0
tomli==2.0.1
torchao==0.10.0
torchaudio==2.8.0+cu126
torchsummary==1.5.1
torchtune==0.6.1
tsfresh==0.21.0
tweepy==4.16.0
umap-learn==0.5.9.post2
vega-datasets==0.9.0
wadllib==1.3.6
wandb==0.21.1
wordcloud==1.9.4
xgboost==3.0.4
xlrd==2.0.2
yellowbrick==1.5
yfinance==0.2.65
